* {
    margin: 0;
    padding: 0;
}

.main-page {
    width: 1200px;
    background: rgb(239, 239, 239, 1);
    height: 680px;

    vertical-align: middle;
}
.c-grey {
    background: rgb(175, 175, 175);
}

.align-center {
    text-align: center;
    font-size: 2em;
    line-height: 80px;
    margin: 0 auto;
}

.header-menu {
    max-height: 100px;
    max-width: 90%;
 
}
.menu {
    height: 100%;
    margin-bottom: 5px;
}

.items-menu {        
    list-style: none;
    
}

.content {
    max-width: 50%;
}


.invert {
    background: #000;
    color: #fff;
    font-size: 2em;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.bigger {
    height: 200px;
}

.images {
    margin: 20px;
}

.float-left {
    float: left;
}

.hidden-overflow {
    overflow: hidden;
}

.clear-fix {
    clear: left;
}