.main-page {
    width: 800px;
    background: bisque;
    
    margin: auto;
}

.invert {
    background: #000;
    color: #fff;
    font-size: 2em;
}
.inline {
    display: inline;
}

.inline-block {
    display: inline-block; 
}
.block {
    display: block; 
}

.bigger {
    height: 200px;
}